* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  background: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
}

.logo-section {
  padding: 3em 0px 0px 2em;
  z-index: 2;
}

.logo-section .logo {
  cursor: pointer;
}

.logo-active {
  position: fixed;
}

.hamburger, .close-ham {
  position: absolute;
  top: 6.5%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
}

.close-ham {
  right: 5%;
  top: 5.5%;
  position: fixed;
}

.not-ready {
  display: none;
}

.navbar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  pointer-events: none;
  z-index: 1;
}

.navbar .nav-list {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .nav-list .nav-link {
  list-style: none;
  margin: 20px 0px 35px 40px;
}

.navbar .nav-list .links {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 27px;
  letter-spacing: 2px;
  opacity: 0;
}

.navbar .nav-list .links::after {
  content: '';
  background: white;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar .nav-list .links:hover::after {
  width: 40%;
}

.navbar-active {
  pointer-events: auto;
  background: black;
}

.box-title {
  margin: 40% 0 0 35px;
  border: 2px solid white;
  width: 20em;
  height: 13em;
}

.box-title .title {
  padding: 1.6rem 1.5rem 0px 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.box-title-active {
  margin: 0;
}

.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30%;
}

.vr-img {
  height: auto;
  width: 90%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.lead-header {
  text-align: center;
  margin: 0 auto;
  max-width: 70vw;
}

.lead-header .paragraph {
  color: dimgray;
  font-weight: bold;
  margin-top: 20px;
  line-height: 27px;
}

.lead-head {
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 35px;
  margin-top: 14%;
}

.creation-section {
  margin-top: 5em;
  position: relative;
}

.creation-section .creation-head {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}

.creation-section .creations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 10%;
  padding: 0 30px;
}

.creation-section .creations .cards {
  margin: 0px 0px 20px 0px;
  position: relative;
}

.creation-section .creations .cards::before {
  content: '';
  position: absolute;
  height: 99%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.418)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.418), rgba(255, 255, 255, 0));
}

.creation-section .creations .card-image {
  height: auto;
  width: 100%;
}

.creation-section .creations .card {
  width: 150px;
  position: absolute;
  left: 5%;
  bottom: 19%;
  color: white;
  text-transform: uppercase;
  font-size: 1.6em;
}

.creation-section .button {
  margin: 2.5em 0 3.125em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creation-section .button .btn {
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 6px;
  padding: 10px 40px;
  background: none;
  font-family: "Alata", sans-serif;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.creation-section .button .btn:hover {
  background: black;
  color: white;
}

.footer {
  background: black;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-logo {
  margin: 3.75em 0 0.6em 0;
}

.footer .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .infos {
  list-style: none;
  margin: 1em 0;
  text-align: center;
}

.footer .infos a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer .copyrighted-section {
  margin-top: 25px;
}

.footer .copyrighted-section .icon-section {
  text-align: center;
}

.footer .copyrighted-section .icon-section .icon-container {
  margin: 0 8px;
  cursor: pointer;
}

.footer .copyrighted-section .copyright {
  margin-top: 1em;
}

.footer .copyrighted-section .copyright .copyright-msg {
  color: #8c8c8c;
}

@media (min-width: 537px) {
  .box-title {
    margin: 20% auto 0 auto;
    height: 20em;
    width: 30em;
  }
  .box-title .title {
    font-size: 4rem;
  }
  .lead-head {
    font-size: 3rem;
    line-height: 100%;
  }
  .paragraph {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .infos {
    font-size: 1.3rem;
  }
}

@media (min-width: 1020px) {
  header {
    background: url("/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    z-index: 1;
  }
  header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  .logo-section {
    padding: 5em 0 0 11.5em;
  }
  .logo-section .logo {
    height: 2em;
  }
  .hamburger-bar-menu {
    display: none;
  }
  .navbar {
    height: auto;
    width: auto;
    position: absolute;
    top: 12%;
    right: 13%;
    pointer-events: auto;
  }
  .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .navbar .nav-list .nav-link {
    margin: 20px 0 0 30px;
  }
  .navbar .nav-list .links {
    opacity: 1;
    text-transform: none;
    font-size: .9rem;
    font-weight: bold;
  }
  .box-title {
    margin: 8% 0 0 11.5em;
    width: 46em;
  }
  .box-title .title {
    font-size: 5rem;
    padding: .6em 0 0 1em;
  }
  .lead {
    display: inline-block;
    position: relative;
    margin-top: 15%;
    width: 100vw;
  }
  .vr-img {
    width: 50%;
    margin-left: 12%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .lead-header {
    background: white;
    position: absolute;
    padding: 2em 0 2em 5em;
    top: 36%;
    right: 10%;
    width: 40%;
  }
  .lead-header .lead-head {
    font-size: 3.2rem;
    text-align: left;
    margin-top: 11%;
  }
  .lead-header .paragraph {
    font-size: .9rem;
    text-align: left;
    margin-top: 7.5%;
  }
  .creation-section {
    margin-top: 15em;
  }
  .creation-section .creation-head {
    margin-left: 12.2%;
    text-align: left;
    font-size: 3em;
  }
  .creation-section .button {
    margin: 0;
    position: absolute;
    top: 0;
    right: 9.2%;
  }
  .creation-section .creations {
    padding: 0 7.3em 0 12.2em;
  }
  .creation-section .creations .cards {
    margin: 0;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow: hidden;
  }
  .creation-section .creations .cards::before {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    width: 90%;
    height: 100%;
  }
  .creation-section .creations .cards:hover::before {
    color: black;
    background: white;
    opacity: .7;
  }
  .creation-section .creations .cards:hover .card {
    color: black;
  }
  .creation-section .creations .card {
    font-size: 1.8rem;
    bottom: 8%;
    left: 16%;
  }
  .creation-section .card-image {
    display: none;
  }
  .creation-section .desktop-image {
    display: block;
    height: auto;
    width: 90%;
  }
  .footer {
    height: 20vh;
    margin-top: 15em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding: 0 0 0 12.2em;
  }
  .footer .footer-logo {
    margin: 0;
  }
  .footer .copyrighted-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
  }
  .footer .copyrighted-section .icon-section {
    display: inline-block;
    text-align: end;
  }
  .footer .lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .infos {
    position: relative;
    padding: 10px 10px 10px 2px;
    margin: 20px 30px 0 0;
  }
  .footer .infos::before {
    content: '';
    background: white;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .footer .infos:hover::before {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */